{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load cache %}

{% block title %}
    News
{% endblock %}


{% block content %}

    <h1>Все Новости</h1>
    <h2>Кол-во новостей: {{ posts|length }}</h2>
    <hr>


    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>

    {% if posts %}
        <table>
            <tr>
                <td class="pl-5">
                    Title
                </td>
                <td class="pl-5">
                    Date
                </td>
                <td class="pl-5">
                    Text
                </td>
            </tr>
            {% for post in posts %}
                <tr>
                    <td class="pl-5">
                        {{ post.title|censor }}
                    </td>
                    <td class="pl-5">
                        {{ post.date_created|date:'d M Y' }}
                    </td>
                    <td class="pl-5">
                        {{ post.text|truncatechars:50|censor }}
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_detail' post.id %}">Detail</a>
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_update' post.id %}">Update</a>
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_delete' post.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
    {% cache 120 paginator %}
    <div class="pagination">

      {% if is_paginated %}
          <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
          {% if page_obj.has_previous %}
              <a href="?page=1">First</a>
              <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
          {% endif %}
          <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <a>{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}
          <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">>>></a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
      {% else %}
          <h2>Публикаций нет!</h2>
      {% endif %}
    </div>
    {% endcache %}
    <hr>
    <a href="{% url 'post_create' %}">Add news</a>
    {% if is_not_author %}
        <button><a href="upgrade/">Хочу быть автором!</button>
    {% endif %}
{% endblock content %}


