{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    News
{% endblock %}


{% block content %}

    <h1>Все Новости</h1>
    <h2>Кол-во новостей: {{ posts|length }}</h2>
    <hr>


    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>

    {% if posts %}
        <table>
            <tr>
                <td class="pl-5">
                    Title
                </td>
                <td class="pl-5">
                    Date
                </td>
                <td class="pl-5">
                    Text
                </td>
            </tr>
            {% for post in filter.qs %}
                <tr>
                    <td class="pl-5">
                        {{ post.title|censor }}
                    </td>
                    <td class="pl-5">
                        {{ post.date_created|date:'d M Y' }}
                    </td>
                    <td class="pl-5">
                        {{ post.text|truncatechars:50|censor }}
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_detail' post.id %}">Detail</a>
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_update' post.id %}">Update</a>
                    </td>
                    <td class="pl-5">
                        <a href="{% url 'post_delete' post.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
        {% endif %}
    </span>
    </div>
    <hr>
    <a href="{% url 'post_create' %}">Add news</a>
    {% if is_not_author %}
        <button><a href="upgrade/">Хочу быть автором!</button>
    {% endif %}
{% endblock content %}


